<html lang="en">

  <head>
    <meta charset="UTF-8" />
   
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

 <nav>
<a href="/">Home</a>
<a href="/cities">Cities</a>
  {{#if session}} 
    <a href="/cities/cities-create">Add New City</a>
    <a href="/auth/logout">Logout</a>
    <a color="blue">Welcome</a>  
      {{session.username}}
    </a>
  {{else}}
    
    <!--<a href="/auth/signup">Register</a> -->
    <a href="/auth/login">Login</a>  
   {{/if}}
  
</nav>




    {{{body}}}

      <script src="/js/script.js"></script>
  </body>

</html>



          
     



